doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    meta(property='og:url', content="http://54.93.222.239/")
    meta(property='og:title', content="News Reader")
    meta(property='og:description', content="Simple RSS feed reader for Indian news and updates.")
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='News Reader')
    meta(property='og:image', content="http://54.93.222.239/images/news.jpg")

    title News Reader
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  body
    div#root

        ul
          for source in sources
            li(style="margin-bottom: 2em; list-style: none;")
                if source.logo
                    a(href=`/${source.uri}`)
                        img(src=source.logo, alt=source.name, style="max-height: 100px; height: auto; margin: 0 auto; display: block;")
                else
                    a(href=`/${source.uri}`)= source.name
