block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{ feed.title } | News Reader
    link(rel="stylesheet" href="/styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  body
    div#root
        .header
            div.main
                a(href="/").site-title= title
                button.sidebar-toggle(onclick="toggleSidebar()") &#x2630;
                ul.nav#sidebar
                    li(class=(page === 'astrology' ? 'active' : ''))
                        a(href="/astrology") Astrology
                    li(class=(page === 'auto' ? 'active' : ''))
                        a(href="/auto") Auto
                    li(class=(page === 'business' ? 'active' : ''))
                        a(href="/business") Business
                    li(class=(page === 'entertainment' ? 'active' : ''))
                        a(href="/entertainment") Entertainment
                    li(class=(page === 'sports' ? 'active' : ''))
                        a(href="/sports") Sports
                    li(class=(page === 'tech' ? 'active' : ''))
                        a(href="/tech") Technology
                    li(class=(page === 'world' ? 'active' : ''))
                        a(href="/world") World
        block layout-content
        .footer
            div
                p= "Powered by News Reader using RSS feeds. Last updated: " + date
                if feed.copyright
                    p.copyright= feed.copyright
                else
                    p.copyright= "© 2023 News Reader. All rights reserved."
        div#overlay

        script(type="text/javascript")
            | function toggleSidebar() {
            |   var sidebar = document.getElementById('sidebar');
            |   var overlay = document.getElementById('overlay');
            |   if (sidebar.style.display === 'flex') {
            |     sidebar.style.display = 'none';
            |     overlay.style.display = 'none';
            |   } else {
            |     sidebar.style.display = 'flex';
            |     overlay.style.display = 'block';
            |   }
            | }